# Terraform Variables File

# Docker Hub credentials
dockerhub_username = "your_docker_hub_username_here"
#set password in terminal and use 
dockerhub_password = env("DOCKER_PASSWORD")
#OR 
#set TF_VAR_dockerhub_password in terminal


# AWS Configuration
aws_region = "us-east-1"
instance_type = "t2.micro"

# Optional: Override AMI if needed
# ami_id = "ami-0ebfd941bbafe70c6"
